<div id="header">
<div class="container">
  <h1 id="logo"><%= link_to "Pattern-Base Application Deployer", root_path %></h1>
  <ul id="nav">
    <% if user_signed_in? %>
      <li><%= link_to "Get started", "https://github.com/ceraslabs/pattern-deployer/wiki/Getting-Started", :class => "active" %></li>
      <li><%= link_to "API Doc", doc_index_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path %></li>
      <% if current_user.admin? %>
        <li><%= link_to "Admin panel", rails_admin_path %></li>
      <% end %>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    <% end %>
  </ul>
</div>
</div>
