<!DOCTYPE html>
<html>
<head>
    <title>API Doc</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'/>

    <%= stylesheet_link_tag "header" %>
    <%= stylesheet_link_tag "swagger/screen" %>
    <%= javascript_include_tag "swagger/jquery-1.8.0.min" %>
    <%= javascript_include_tag "swagger/jquery.slideto.min" %>
    <%= javascript_include_tag "swagger/jquery.wiggle.min" %>
    <%= javascript_include_tag "swagger/jquery.ba-bbq.min" %>
    <%= javascript_include_tag "swagger/handlebars-1.0.rc.1" %>
    <%= javascript_include_tag "swagger/underscore-min" %>
    <%= javascript_include_tag "swagger/backbone-min" %>
    <%= javascript_include_tag "swagger/swagger" %>
    <%= javascript_include_tag "swagger/swagger-ui" %>

    <style type="text/css">
        .swagger-ui-wrap {
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
        }

        .icon-btn {
            cursor: pointer;
        }

        #message-bar {
            min-height: 30px;
            text-align: center;
            padding-top: 10px;
        }

        .message-success {
            color: #89BF04;
        }

        .message-fail {
            color: #cc0000;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            window.swaggerUi = new SwaggerUi({
                discoveryUrl:"<%= @url %>/api_docs.json",
                //apiKey:"special-key",
                dom_id:"swagger-ui-container",
                supportHeaderParams: false,
                supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
                onComplete: function(swaggerApi, swaggerUi){
                	if(console) {
                        console.log("Loaded SwaggerUI")
                        console.log(swaggerApi);
                        console.log(swaggerUi);
                    }
                },
                onFailure: function(data) {
                	if(console) {
                        console.log("Unable to Load SwaggerUI");
                        console.log(data);
                    }
                },
                docExpansion: "none"
            });

            window.swaggerUi.load();
        });

    </script>
</head>

<body>

<%= render "devise/shared/header" %>

<div id="message-bar" class="swagger-ui-wrap">
    &nbsp;
</div>

<div id="swagger-ui-container" class="swagger-ui-wrap">

</div>

</body>

</html>
